body {
    background-color: #eaeaea;
    width: 800px;
    margin: 0 auto;
    font-family: 'Spectral', serif;
    font-size: 1.1em;
    line-height: 1.5em;
}

code {
    color: #000;
}

pre {
    padding-bottom: 0 !important;
    line-height: 1.1em;
    overflow: hidden !important;
}

.toc-above > li:last-child {
    padding-bottom: 0;
}

.toc-below > li:first-child {
    padding-top: 0;
}

img {
    display: inline-block;
    max-width: 100%;
    margin: 0;
}

figure {
    text-align: center;
}

figure img {
    border: 1px solid green;
    padding: 26px;
    background-color: white;
    box-sizing: border-box;
}

figcaption {
    padding-top: 0.26em;
    font-size: 0.9em;
    text-align: center;
}

.ul-arrow  ul {
    list-style-type: "➤";
}

.ul-arrow ul > ul,
.ul-arrow li > ul {
    list-style-type: "➢";
}

a:link {
    color: #109231
}

a:visited {
    color: #697272
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ovo", sans-serif;
    font-weight: bold;
    margin-left: -0.8em;
    line-height: 1em;
}

h1 {
    font-weight: bold;
}

h2 {
    line-height: 1em;
}

h3 {
}

h4 {
    letter-spacing: 1px;
}

h5 {
    letter-spacing: 1px;
    margin-left: -0.375em;
}

h6 {
    letter-spacing: 2px;
    margin-left: 0;
}

.note {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 3em 0;
  padding-bottom: 2.5em;
}

.note > h6 {
  text-align: center;
}

.subtitle {
    font-family: 'Ovo', serif;
    font-weight: 200;
    font-size: 1.2em;
    letter-spacing: 2.68px;
    margin-top: -1.63em;
}

.header-underscore {
    font-family: 'Ovo', serif;
}

.dedication {
    text-align: center;
    padding-bottom: 2em;
    padding-top: 3.5em;
}
